doctype
html
  head
    title Fauxton Visual Guide
    link(rel="stylesheet" href="main.css")
    link(rel="icon" type="image/png" href="assets/couch.png")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
    script(src="js/main.js")

  body
    != yield