html {
    margin: 0;
    padding: 0;
    background-color: #FFF;
}

body {
    margin: 50px;
    padding: 0;
    font-size: 18px;
    font-family: "Trebuchet MS", sans-serif;
    line-height: 1.5em;
    background-image: url(../image/logo.png);
    background-repeat: no-repeat;
    background-position: top right;
}

p, ol, ul {
    width: 800px;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #EEE;
    padding: 10px;
}
