/*
*********************************
                                 *
  Created: August, 2009           * 
  Author:  Martin Czura            *
  Website: www.byteshrine.org     *
                                 *
*********************************

~ Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: baseline;
}

html, body {
    height: 100.1%;
    margin: 0 0 1px 0;
}

body {
    background: #d5d5d5;
    color: #222;
    font: 100%/1.5 Georgia, "Bitstream Charter", "Century Schoolbook L", "Liberation Serif", serif;
}

/* Page construct */

#header {
    background: #fff;
    margin: 0 auto;
    padding: 0 1em;
    width: 50em;
}

#content {
    background: #fff;
    margin: 0 auto;
    padding: .65em 2em;
    width: 48em;
}

body>#content { margin-top: -15px; }

#footer {
    color: #777;
    font-size: 87.5%;
    padding: 1em;
    text-align: center;
}

/* Navigation */

#navigation { clear: both; margin: 0; }

body>#navigation {
    background: url(../img/layout/navi-bg.png) repeat-x bottom;
    padding: 0 0 15px 0;
    position: relative;
}

#navigation dt { display: none; }

#navigation dd {
    background: #bd101d;
    border-bottom: 3px solid #b00000;
    border-top: 3px solid #d00000;
}

#navigation ul {
    margin: 0 auto;
    width: 48em;
}

#navigation li { display: inline; }

#navigation a {
    color: #e5c5c5;
    font-family: Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
    font-weight: bold;
    margin: 0 1.4em 0 0;
    text-decoration: none;
}

#navigation a:hover, #navigation .active { color: #fff; }

/* Headings */

h1, h2, h3, h4, h5, h6 {
    color: #9f0000;
    font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Lucida, sans-serif;
}

h1 {
    font-size: 175%;
    line-height: .85;
    margin: .85em 0;
}
#header h1 { display: none; }

h2 {
    font-size: 137.5%;
    line-height: 1.1;
    margin: 1.65em 0 1.1em 0;
}

h3 {
    font-size: 112.5%;
    line-height: 1.33;
    margin: 1.33em 0;
}

h4, h5, h6 {
    color: #667;
    font-size: 93.75%;
    font-weight: bold;
    margin: 1.5em 0 -.75em 0;
}

/* Messy */

a { color: #8b0000; }
a:hover, a:visited { text-decoration: none; }

#header a, #header img {
    display: block;
    height: 110px;
    width: 400px;
}

blockquote, p, ol, ul { margin: 1.5em 0; }

ul ul, ol ol { margin: 0 0 0 1em; }

pre, code { font-family: "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Liberation Mono", "Lucida Console", Monaco, monospace; }

p code { font-size: 87.5%; letter-spacing: .075em; }

pre {
    background: #f5f5f5;
    border: 1px solid #ddd;
    font-size: 81.25%;
    line-height: 1.4;
    margin: 2em -.2em;
    padding: .2em;
    overflow: auto;
}

.showcase {
    font-style: italic;
    margin: 2em 0 3em 0;
    text-align: center;
}
.showcase img { border: 1px solid #ccc; }
.showcase p { margin: 0; }
