html, body { font: normal 90%/1.2 Arial,Helvetica,sans-serif;
  margin: 0; padding: 0;
}

:link { color: #F00; }
:visited { color: #BE001A; text-decoration: none; }
:link img, :visited img { border: none; }

h1, h2, h3, h4, h5, h6 { color: #3E3E2E; margin: 1em 0 1em; }
h1 { color: #3E3E2E; margin-right: -.3em; margin-left: -.3em;
  padding: 0 .1em;
}
h2 { background: #84856A; border: 1px solid #6F7050; color: #fff;
  font-size: 130%; font-weight: normal; margin-right: -.4em;
  margin-left: -.4em; padding: 0 .2em;
}
h5, h6 { color: #6F7050; }
p { margin: 0 0 1em; }

pre { background: #C4C3BC; margin: 1em 0; overflow: auto; padding: .5em; }

div.disclaimer { color: #3E3E2E; font-size: 95%; font-style: italic;
  margin: 0 1.6em;
}
div.disclaimer p { font-width: bold; }

.showcase {
    text-align: center;
    padding: 20px;
}

.showcase img {
    border: 1px solid #ccc;
    padding: 10px;
}

.showcase p {
    margin-top: 10px;
}
