html, body { background: transparent; }
h2 { background: transparent; border: 1px solid #ccc; color: #333; }

#header { background: transparent; height: auto; margin: 0 0 2em; }
#header h1 { display: block; font-size: 140%; margin: 0; text-align: right; }
#header a, #breadcrumbs, #nav { display: none; }
#wrap, #main, #content { background: transparent; border: none; margin: 0;
  max-width: none; min-height: none; padding: 0;
}
#content { padding: 0 1em; }
#footer { margin: 0; max-width: none; }
#footer p { color: #666; text-align: center; }
